/*#region Main Rules*/

*{box-sizing: border-box;}

body {
    max-width: max-content;
    background-color:black;
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    align-content: center;
    font-family: "Gajraj One";
    margin-right: 25vw;
    margin-left: 25vw;
    padding: auto;
    vertical-align: middle;
    
}

header {
    background-image: url(Images/Hyperspace.jfif);
    background-size: cover;
    background-position: 35% 28%;
    max-width: max-content;
    align-content: center;
}

header>figure {
    display: flex;
    
}

img.head {
    display: flex;
    flex: left;
    
}

h2.head {
    display: flex;
    align-content: right;
    text-decoration: none;
}

figure.home {
    margin: auto;
    padding: 0%;
    height: auto;
    align-content: center;
    float: right;
}

img.Home {
    float: right;
    scale: 75%;
    margin: auto;
    padding: 0%;
    height: auto;
    align-content: center;
}

h1 {
    color: yellow;
    font-size: 40px;
}

h2 {
    color: rgb(241, 241, 35);
    font-size: 35px;
    text-decoration: underline;
    font-weight: bolder;
}

p {
    font-size: 20px;
}

nav {
    border-style: solid;
    max-width: max-content;
    border-color:  rgb(146, 28, 28);
    border-width: 10px;
    font-weight: lighter;
    align-content: center;
}

nav>ul {
    margin: 0%;
    background-image: linear-gradient(to right, red, rgb(192, 14, 14), black, rgb(22, 22, 173), blue);
}

nav>ul>li>a {
    align-content: center;
}


.flex-box-nav {
    display: flex;
    text-align: center;
    list-style-type: none;
    padding-left: 0%;
    background-color: rgb(145, 132, 132);
  }
      
.flex-box-nav li {
    background-color: #0084ff;
    margin: 10px;
    font-size: 48px;
    border-width: thick;
    border-style: ridge;
    border-radius: 25%;
    border-color: yellow;
    
}

ol {
    text-align: left;
    font-size: 20px;
}

ol>li {
    padding: 2%;
    margin-left: 35%;
}

ul {
    list-style-type: square;
    margin-left: 43%;
}

.Policies {
    list-style-type: none;
    margin: auto;
}

ul>li {
    margin-left: 0%;
    text-align: left;
    font-size: 20px;
}

dl {
    padding: 2%;
    text-align: center;
}
dl>dt {
    text-align: center;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: rgb(255, 251, 0);
}

a:hover {
    text-decoration: underline;
}

footer {
    clear: both;
    max-width: max-content;
    align-content: center;
}

fieldset {
    border-color: yellow;
    text-align: left;
    border-radius: 5px;
}

legend {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 0);
}

input{
    background-color:rgb(238, 238, 31);
    border-radius: 5px;
}

textarea{
    background-color:rgb(238, 238, 31);
    border-radius: 5px;
}

input[type=submit]{
    border-color: #70baff;
    padding: 5px;
    border-radius: 5px;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #70baff;
    border-color: #da1a1a;
}

.flex-box-gallery-light {
    display: flex;
    flex-direction: row; 
}

.flex-box-gallery-light img {
    display: flex;
    flex-direction: row;
}

.flex-box-gallery-light img:hover {
    box-shadow: 10px 10px 10px 10px rgb(62, 194, 247);
} 

.flex-box-gallery-dark {
    display: flex;
    flex-direction: row;
}

.flex-box-gallery-dark img {
    display: flex;
    flex-direction: row;
 }

 .flex-box-gallery-dark img:hover {
    box-shadow: 10px 10px 10px 10px rgb(184, 18, 18);
 }

nav a:hover {
    background-color: rgb(82, 243, 255);
    color: black;
    text-decoration: none;
    font-size: 48px;
    border-radius: 25%;
    border-width: 10px;
}

/*#endregion*/

/*#region Smaller Screens*/

@media screen and (max-width: 600px){

    body {
        align-content: center;
        padding: auto;
        margin: 5vw;
    }

    header {
        background-position: 50% 30%;
    }

    header>figure {
        display: block;
        align-content: center;
        margin: 0%;
    }

    img.head {
        display: block;
        align-items: center;
        margin: 0%;
    }
    
    h2.head {
        display: block;
        align-content: right;
        text-decoration: none;
    }    

    ul {
        padding: auto;
        margin: auto;
    }

    ul.Policies {
        padding: 0%;
        margin: auto;
    }

    ol {
        padding: auto;
        margin: auto;
    }

    ol>li {
        padding: auto;
        margin: auto;
    }

    dl {
        padding: auto;
        margin: auto;
    }

    dl>dt {
        padding: auto;
        margin: auto;
    }

    dl>dd {
        padding: auto;
        margin: auto;
    }
    
    nav>ul{
        display: block;
        
        background-image: linear-gradient(to bottom, red, rgb(192, 14, 14), black, rgb(22, 22, 173), blue);
        
    }

    nav>ul>li{
        display: block;
    }

    nav>ul>li>a {
        align-content: center;
    }

    .flex-box-nav {
        display: block;
        text-align: center;
        list-style-type: none;
        padding-left: 0%;
        background-color: rgb(145, 132, 132);
      }
      
    .flex-box-nav li {
        background-color: #0084ff;
        margin: 10px;
        font-size: 48px;
        border-width: thick;
        border-style: ridge;
        border-radius: 25%;
        border-color: yellow;
    }

    .flex-box-gallery-light {
        display: flex;
        flex-direction: column;
        margin: 0%;
        width: 300px;
        height: auto;
    }
    
    .flex-box-gallery-light img {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
    }

    .flex-box-gallery-dark {
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 300px;
        height: auto;
    }
    
    .flex-box-gallery-dark img {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: auto;
     }

}

/*#endregion*/

@media screen and (max-width: 400px){
    body {
        margin: none;
    }

}